
.loginPage-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 24px 16px;
}

.loginPage-logoContent{
    width: 100%;
}

.loginPage-logoContent img {
  width: 300px;
}

.loginPage-title {
  color: var(--text-primary);
}

.loginPage-button {
  display: none;
}

.MuiDivider-root {
  border-bottom: 1px solid var(--secondary);
}


