:root {
  --font-primary: 'Roboto', system-ui, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body{
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
